<tr<%= local_assigns[:added] %>>
  <td><%= achievement_parent_name_or_suggested(achievement) %></td>
  <td><%= achievement.name %></td>
  <td><%= achievement.additional_info %></td>
  <td><%= achievement.media %></td>
  <td class="text-center auto-width">
    <%= render 'likes/like_button', object: achievement %>
  </td>
</tr>