<tr<%= local_assigns[:added] %>>
  <td><%= achievement_parent_name_or_suggested(achievement) %></td>
  <td><%= achievement.name %></td>
  <td><%= achievement.additional_info %></td>
  <td><%= achievement.media %></td>
</tr>